body {
    font-family:'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}
section {
    margin-bottom: 30px;
}
h1 {
    font-size: 45px;
}
h2 {
    margin-bottom: 10px;
}
h3 {
    color: rgb(94, 86, 255);
}
h4 {
    color: gray;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin-bottom: 5px;
    color: gray;
    font-family:'Times New Roman', Times, serif;
}
body {
    background-color:rgb(234, 234, 255);
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    border: 5px solid black;
    margin: 50px;
    padding: 10px;
}